{
  "presets": [
    ["env", {
      "targets": {
        "node": 6,
        "browsers": ["last 2 version"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
